<div
class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h1 class="h4">説明1</h1>
</div>
<p>
① まず初めに、皆さんが聞きなれない言葉が出てきます。意味を確認しておきます。<br>
<br>
ソースコード：プログラムやWebページ表示のもとになる、いわゆるプログラム言語で書いた文章。<br>
皆さんが今見ている画面も、HTMLという言語で書かれています。ソースコードを確認してみましょう。<br>
<br>
文字列：文字が集まって一つの情報を作ります。単語も文も文字列です。意味がない文字の集まりも文字列です。<br>
一般的に文字列は、ソースコードの中では<br>
"文字列"　← ダブルクォーテーション(")で囲む<br>
'文字列'　← シングルクォーテーション(')で囲む<br>
のどちらかで表されます。<br>
</p>
<p>
② では、本題です。今日の授業ではWebサイトに不正なプログラムを埋め込んでおいて、見に来た人に被害をもたらすXSS(クロスサイトスクリプティング)について学習します。<br>
先ほどの話に出てきたように、WebページはHTMLという言語で書かれています。この言語は<br>
&lt;h1&gt; 文字列 &lt;/h1&gt;<br>
と記述すると「文字列」をページの大見出し（見出しレベル1）として表示します。<br>
&lt;h1&gt;が大見出しの始まり。&lt;/h1&gt;が大見出しの終わりを表します。<br>
「&lt;」と「&gt;」で囲まれたものを「タグ」と呼び、「h1」がタグの名前です。<br>
</p>
<p>
③ 実はHTMLの中には、見ている人のパソコン（ブラウザ－Webを表示するソフト）で、指定したプログラムを実行させるタグが存在します。<br>
&lt;script&gt;と&lt;/script&gt;の間に、JavaScriptという言語でプログラムを書くと、そのプログラムはページを見ている人のパソコンで実行されます。<br>
いろいろな目的で使える便利な機能なのですが、悪い目的の人が使うと大変なことになります。
<ul>
<li>見ている人のパソコンでウィンドウをたくさん表示して妨害してやろう。</li>
<li>違法なサイトにアクセスさせて、お金をだまし取ってやろう。</li>
<li>個人情報をインターネットに送信させて、悪いやつに広めてやろう</li>
</ul>
</p>
<p>
④ そうは言っても、普通Webページのソースコードはページの管理者がインターネットに配置するので、悪意のあるユーザーがどうこうできるものではありません。<br>
でも、例外があります。ページを見ている人が、ページの中で表示される情報を入力する方法が。
<ul>
<li>ネットショップのレビュー、口コミ</li>
<li>SNSの書き込みやコメント</li>
<li>掲示板やＱ＆Ａサイト</li>
</ul>
⑤ 「訓練1」では、レビュー機能を悪用して、実際にプログラムを実行するコードを埋め込んでみましょう。でも、本当に悪いコードを書くと実習用の機材に影響が出るので<br>
&lt;script&gt;alert('message');&lt;/script&gt;<br>
と入力します。これは画面に「message」を表示します。alert('message');がメッセージを表示するJavaScript命令です。<br>
もちろん、この部分を「このパソコンはウイルスに感染しています」とかに変えると、十分悪いですが。<br>
</p>