<div
class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
<h1 class="h4">説明2</h1>
</div>
<p>
次の訓練に移る前に、確認しておきたいことがあります。まず画面左側の「ディベロッパーツール画面」の左上を見てください。<br>
<img src="{{ url_for('static', filename='images/elementselector_off.png') }}"> こんなアイコンがあります。<br>
これをマウスでクリックすると、表示が青く変わります。<br>
<img src="{{ url_for('static', filename='images/elementselector_on.png') }}">こんな感じです。<br>
この状態で表示エリアをクリックすると、表示エリアでクリックしたも部分のHTMLコードが「ディベロッパーツール」のHTMLエリアに表示されます。
もう一度「訓練1」を開き、「お名前」を入力した入力エリアをクリックして、HTMLエリアの表示を見てください。
こういうコードが表示されます。<br>
<img src="{{ url_for('static', filename='images/formcode.png') }}"><br>
このコードの&lt;form ....&gt;と&lt;/form&gt;の間が、サーバーに情報を送る部分です。<br>
&lt;input ....&gt;の部分が、サーバーに送られるデータです。これは、今後の演習で重要になるので覚えておいてください。<br>
</p>
<p>
では、訓練を続けましょう。<br>
① 「訓練1」で最も基本的なXSS攻撃の方法を試してもらいました。簡単にできますよね。もちろん、こんな問題が野放しでは誰も安心してネットを使えません。
ちゃんと対応する方法が用意されています。その一つが、ユーザーの入力にタグが入っていたら、それをソースコードの一部にせず表示に変換するというものです。
「&lt;」と「&gt;」を画面にこの文字を表示するHTMLの命令に変換するのです。これらの記号が入っていなければ、入力されたコードは実行されません。
このページのソースコードを見てください。「&lt;」は「&amp;lt;」に、「&gt;」は「&amp;gt;」に変換されています。こうなると、もう「タグ」としては処理されません。
</p>
<p>
② 「訓練2」では、レビューの本文に不正なコードを入力しても、入力内容が表示されるだけで動作しません。
これでは悪意のあるユーザーもお手上げです。
「じゃあ、問題ないじゃん」ってなれば良いのですが、そうはいかないのです。この対策はレビュー機能を作った人がページに組み込みます。
制作者がうっかり忘れたら？もちろん攻撃が成立します。
</p>
<p>
③ 「ホワイトハッカー」の仕事の一つに、実際の攻撃方法を試して対策を忘れた「抜け道」がないかを探すというものがあります。<br>
この作業を「ペネトレーションテスト」と言います。<br>
「ホワイトハッカー」も「ブラックハッカー」のテクニックを知る必要があるのです。<br>


「訓練2」で実際に抜け道を探してみましょう。
</p>